@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    max-width:800px;
    margin:0 auto;
    font-family:'Lato', serif;
}
header {
    background-color:darkgreen;
    padding:5px;
    border-radius:10px;
    color:white;
    font-family:'Righteous', serif;
    text-align:center;
    font-size:larger;
}
#aPortalPic {
    float:right;
    margin:5px;
    box-shadow:0px 0px 15px 5px gray;
    max-height:220px;
}
main {
    margin:15px;
}
h2 {
    font-family:'Righteous', serif;
    margin-top:1.5em;
    padding:2px;
    border-bottom:solid thin;
}
footer {
    background-color:darkgreen;
    padding: 5px;
    margin-top:2em;
    border-radius:10px;
    color:white;
    text-align:center;
}
footer a {
    color:white;
}
#lastUpdated {
    padding-top:0px;
    margin-top:-15px;
    font-size:small;
    color:greenyellow;
}