@media only screen and (min-width: 34.7em) {
    header picture img {
        width: 8em;
    }

    header section {
        font-size: .8em;
    }

    .ham {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 auto;
        text-align: center;
    }

    footer p {
        font-size: 1em;
    }

    .weathersummary {
        font-size: .8em;
        width: 14em;
    }

    .externalimage {
        width: 20%;
        float: left;
        margin:0 1em 1em 1em;
        clear: both;
    }

    .contactdiv iframe {
        width: 40%;
        height: 15em;
        margin:0.5em;
    }
    .contactdiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
    }

    .galleryGrid {
        grid-template-columns: 1fr 1fr;
    }

    .flexly .rating, select.custinput, input.custinput, textarea, #submitBtn, #rating {
        width: 75%;
    }


    section.cards article {
        flex-direction: row;
        justify-content: space-between;
    }

    .homeImage {
        max-width: 50%;
        border-radius: 0 .8em .8em 0;
    }

    section.cards article div {
        width: 50%;
    }

    section.cards article:nth-child(1) {
        flex-direction: row-reverse;
    }

    section.cards article:nth-child(1) .homeImage, .naturehike img {
        border-radius: .8em 0 0 .8em;
    }

    .communityad {
        display: flex;
        justify-content:space-between;
        flex-direction:row-reverse;
        font-size: .75em;
    }

    .advertisement {
        width: 50%;
    }

    .naturehike {
        margin: .2em 0 0 0;
        max-width: 50%;
    }
}