@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: .5vw, $line-height: normal, $font: $fonts-body, $min-size: .8em) {
  font-family: $font;
  font-size: clamp($min-size, .5em + $size, 3em);
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}

@mixin divider($color: $accent1) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}

@mixin card($rotation: 2deg) {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $accent2;
  border: solid 1px $accent3;
  box-shadow: 2px 2px 10px $primary;
  max-width: 95%;
  padding: 1em;
  margin: 1em;
  transform:rotate($rotation);
  transition: 1.5s;
  & p {
    margin: -.1em;
  }
  &:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    z-index: 1;
  }

}

@mixin develop() {
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function:ease-in;
  animation-fill-mode:forwards;
}

@mixin thumbtack() {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    position:relative;
    top: -20px;
    box-shadow: 2px 2px 5px $primary;
  }



@keyframes trans {
  from{
    background-color: $accent3;
    color: $accent3;
  }
  to{
    background-color: $primary;
    color: $accent2;
  }
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h1,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  color: $text-dark;
}

h1 {
  font-weight: 900; /* Heavy */
  font-size: calc(100% + 5vmin);
}
h2 {
  color: $text-dark;
  font-weight: normal;
  font-style:italic;
  font-size: calc(100% + 2vmin);
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
}
h3 {
  @include set-font(2.1vw, normal, $fonts-headline, 1.1em);
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}
h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  @include set-font(.5vw, 1.5em);
  padding: 0.5em 1em;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: $text-dark;
  text-decoration: none;
}
a:hover {
  color: $accent1;
  border-color: $accent1;
}
img {
  max-width: 100%;
}