@use 'variables' as *;
@use 'atoms';


p:first-of-type::before {
  @include atoms.thumbtack();
}

div.preamble {
    @include atoms.card();
    >h3 {
      grid-row: 4;
    }
    >p {
      background-color: $accent3;
      color: $accent3;
      @include atoms.develop();
    }
  }
  
  div.explanation {
    @include atoms.card();
    >h3 {
      grid-row: 3;
    }
    >p {
      background-color: $accent3;
      color: $accent3;
      @include atoms.develop();
    }
  }
  
  div.participation {
    @include atoms.card();
    >h3 {
      grid-row: 4;
    }
    >p {
      background-color: $accent3;
      color: $accent3;
      @include atoms.develop();
    }
  }
  div.benefits {
    @include atoms.card(300px);
    >h3 {
      grid-row: 4;
    }
    >p {
      background-color: $accent3;
      color: $accent3;
      @include atoms.develop();
    }
  }
  div.requirements {
    @include atoms.card(600px);
    >h3 {
      grid-row: 6;
    }
    >p {
      background-color: $accent3;
      color: $accent3;
      @include atoms.develop();
    }
  }