@use 'variables' as *;
@use 'atoms';

div.preamble {
    @include atoms.card();
    >h3 {
      grid-row: 4;
    }
    >p {
      background-color: $primary;
      color: $text-light;
    }
  }
  
  div.explanation {
    @include atoms.card();
    >h3 {
      grid-row: 3;
    }
    >p {
      background-color: $primary;
      color: $text-light;
    }
  }
  
  div.participation {
    @include atoms.card();
    >h3 {
      grid-row: 4;
    }
    >p {
      background-color: $primary;
      color: $text-light;
    }
  }
  div.benefits {
    @include atoms.card();
    >h3 {
      grid-row: 4;
    }
    >p {
      background-color: $primary;
      color: $text-light;
    }
  }
  div.requirements {
    @include atoms.card();
    >h3 {
      grid-row: 6;
    }
    >p {
      background-color: $primary;
      color: $text-light;
    }
  }