@import url("https://use.typekit.net/len5cji.css");

$fonts-headline: "magneto", sans-serif;
$fonts-body: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$background-color: #daede2;
$primary: #666666;
$accent1: #ff9341;
$accent2: #ffffff;
$accent3: #000000;
$text-dark: #333;
$text-light: #fff;
