@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-image:url("assets/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  padding: 5%;
}

body {
  max-width: 2100px;
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  margin: 0 auto;
  padding: 1em;
}

.intro, footer {
  max-width: 100%;
  background-color: $accent2;
  margin: 1em;
  padding: 1.5em 0 1em 0;
  box-shadow: 2px 2px 10px $primary;
}

.summary {
  text-align: center;
  align-self: center;
  & p:first-of-type {
    @include atoms.set-font(1.5vw);
    font-style:italic;
    font-weight: bold;
    
  }
}

.wrapper {
  background-color: $accent2;
  padding: 1em;
}
h1::before {
  @include atoms.thumbtack();
}

footer::before {
  @include atoms.thumbtack();
  flex-basis: 100%;
  margin: 0 calc(50% - 10px);
}

aside .wrapper::before {
  @include atoms.thumbtack();
  grid-column: 1 / span 2;
}

@media only screen and (min-width: 38.6em) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    >.intro {
      grid-column: 1 / span 7;
      grid-row: 1 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      >header {
        grid-column: 1 / span 2;
      }
    }
    >.main {
      grid-column: 1 / span 6;
      grid-row: 3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 5em;
      >.explanation {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
      }
    
      >.participation {
        grid-column: 2 / span 3;
        grid-row: 3 / span 2;
      }
    
      >.benefits {
        grid-column: 1 / span 3;
        grid-row: 5;
      }
    
      >.requirements {
        grid-column: 1 / span 4;
        grid-row: 6 / span 2;
      }
    
      >footer {
        grid-column: 1 / span 6;
        grid-row: 8;
      }
    }
    >.sidebar {
      padding: 1em;
      grid-column: 7;
      grid-row: 3 / span 2;
    }
  }
} 
@media only screen and (min-width: 81.25em) {
  .page-wrapper {
    >.main {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      >.explanation {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
      }
    
      >.participation {
        grid-column: 4 / span 3;
        grid-row: 1 / span 2;
      }
    
      >.benefits {
        grid-column: 1 / span 2;
        grid-row: 3;
      }
    
      >.requirements {
        grid-column: 3 / span 4;
        grid-row: 3 / span 2;
      }
      >footer {
        grid-column: 1 / span 6;
        grid-row: 5;
        
      }
    }
    >.sidebar {
      >.wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        >.design-selection {
          grid-column: 1;
          grid-row: 2 / span 3;
        }
        >.design-archives {
          grid-column: 2;
          grid-row: 2;
        }
        >.zen-resources {
          grid-column: 2;
          grid-row: 3;
        }
      }  
    }
  }
}