@import url("https://use.typekit.net/len5cji.css");
@keyframes trans {
  from {
    background-color: #000000;
    color: #000000;
  }
  to {
    background-color: #666666;
    color: #ffffff;
  }
}
@keyframes transa {
  from {
    background-color: #000000;
    color: #000000;
  }
  to {
    background-color: #666666;
    color: #ff9341;
  }
}
h1,
h3,
h4 {
  font-family: "magneto", sans-serif;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  color: #fff;
}

h1 {
  font-weight: 900;
  /* Heavy */
  font-size: calc(100% + 2vw);
}

h2 {
  color: #fff;
  font-weight: normal;
  font-style: italic;
  font-size: calc(100% + 2vmin);
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
}

h3 {
  font-family: "magneto", sans-serif;
  font-size: clamp(1em, 0.5em + 2.1vw, 2.8em);
  line-height: normal;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: clamp(0.8em, 0.5em + 0.4vw, 1.1em);
  line-height: 1.5em;
  padding: 0.5em 1em;
  margin: 0;
  color: #fff;
  background-color: #666666;
}

a {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: clamp(0.8em, 0.5em + 0.4vw, 1.1em);
  line-height: 1.5em;
  color: #ff9341;
  text-decoration: none;
}

li > a {
  color: #ff9341;
}

a:hover {
  color: #ff9341;
  font-weight: bold;
}

img {
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #666666;
  border: solid 12px #ffffff;
  max-width: 100%;
  margin: 1em;
  padding: 1.5em 0 1em 0;
  box-shadow: 2px 2px 10px #666666;
}

div.preamble {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 500px;
  padding: 1em;
  margin: 1em;
  transform: rotate(-2deg);
  transition: 1.5s;
}
div.preamble > p {
  background-color: #000000;
  color: #000000;
  margin: -0.1em;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.preamble > p > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.preamble > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.preamble:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 1;
}
div.preamble > h3 {
  grid-row: 4;
}

div.preamble p:first-of-type::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

div.explanation {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 400px;
  padding: 1em;
  margin: 1em;
  transform: rotate(2deg);
  transition: 1.5s;
}
div.explanation > p {
  background-color: #000000;
  color: #000000;
  margin: -0.1em;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.explanation > p > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.explanation > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.explanation:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 1;
}
div.explanation > h3 {
  grid-row: 3;
}

div.explanation p:first-of-type::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

div.participation {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 400px;
  padding: 1em;
  margin: 1em;
  transform: rotate(2deg);
  transition: 1.5s;
}
div.participation > p {
  background-color: #000000;
  color: #000000;
  margin: -0.1em;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.participation > p > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.participation > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.participation:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 1;
}
div.participation > h3 {
  grid-row: 4;
}

div.participation p:first-of-type::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

div.benefits {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 300px;
  padding: 1em;
  margin: 1em;
  transform: rotate(-2deg);
  transition: 1.5s;
}
div.benefits > p {
  background-color: #000000;
  color: #000000;
  margin: -0.1em;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.benefits > p > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.benefits > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.benefits:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 1;
}
div.benefits > h3 {
  grid-row: 4;
}

div.benefits p:first-of-type::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

div.requirements {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: -2deg;
  padding: 1em;
  margin: 1em;
  transform: rotate(2deg);
  transition: 1.5s;
}
div.requirements > p {
  background-color: #000000;
  color: #000000;
  margin: -0.1em;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.requirements > p > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.requirements > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
div.requirements:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 1;
}
div.requirements > h3 {
  grid-row: 6;
}

div.requirements p:first-of-type::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 400px;
  padding: 1em;
  margin: 1em;
  transform: rotate(2deg);
  transition: 1.5s;
}
ul > p {
  background-color: #000000;
  color: #000000;
  margin: -0.1em;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
ul > p > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
ul > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
ul:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 1;
}
ul li {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 400px;
  padding: 1em;
  margin: 1em;
  transform: rotate(2deg);
  transition: 1.5s;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
ul li > p {
  background-color: #000000;
  color: #000000;
  margin: -0.1em;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
ul li > p > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
ul li > a {
  animation-name: transa;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
ul li:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 1;
}

* {
  box-sizing: border-box;
}

html {
  background-image: url("assets/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  padding: 5%;
}

body {
  max-width: 3000px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 85%;
  color: #333;
  margin: 0 auto;
  padding: 1em;
}

.intro {
  max-width: 1800px;
  background-image: url(assets/lens.webp);
  background-position: center;
  margin: 1em auto;
  padding: 1.5em 0 1em 0;
  box-shadow: 2px 2px 10px #666666;
}

.summary {
  max-width: 600px;
  text-align: center;
  justify-self: center;
  align-self: end;
  width: 90%;
}
.summary p:first-of-type {
  font-size: clamp(1.2em, 0.5em + 1vw, 2.8em);
  font-style: italic;
  font-weight: bold;
}

.wrapper {
  background-color: #ffffff;
  padding: 1em;
}

h1::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

footer::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
  flex-basis: 100%;
  margin: 0 calc(50% - 10px);
}

aside .wrapper::before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
  grid-column: 1/span 2;
}

ul:before {
  display: block;
  content: url(assets/thumbtack.svg);
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

@media only screen and (min-width: 38.6em) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  }
  .page-wrapper > .intro {
    grid-column: 1/span 7;
    grid-row: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .page-wrapper > .intro > header {
    grid-column: 1/span 2;
  }
  .page-wrapper > .main {
    grid-column: 1/span 6;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5em;
  }
  .page-wrapper > .main > .explanation {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
  }
  .page-wrapper > .main > .participation {
    grid-column: 2/span 3;
    grid-row: 3/span 2;
  }
  .page-wrapper > .main > .benefits {
    grid-column: 1/span 3;
    grid-row: 5;
  }
  .page-wrapper > .main > .requirements {
    grid-column: 1/span 4;
    grid-row: 6/span 2;
  }
  .page-wrapper > .main > footer {
    grid-column: 1/span 6;
    grid-row: 8;
  }
  .page-wrapper > .sidebar {
    padding: 1em;
    grid-column: 7;
    grid-row: 3/span 2;
  }
}
@media only screen and (min-width: 81.25em) {
  .page-wrapper > .main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .page-wrapper > .main > .explanation {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
  }
  .page-wrapper > .main > .participation {
    grid-column: 4/span 3;
    grid-row: 1/span 2;
  }
  .page-wrapper > .main > .benefits {
    grid-column: 1/span 2;
    grid-row: 3;
  }
  .page-wrapper > .main > .requirements {
    grid-column: 3/span 4;
    grid-row: 3/span 2;
  }
  .page-wrapper > .main > footer {
    grid-column: 1/span 6;
    grid-row: 5;
  }
  .page-wrapper > .sidebar > .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .page-wrapper > .sidebar > .wrapper > .design-selection {
    grid-column: 1;
    grid-row: 2/span 3;
  }
  .page-wrapper > .sidebar > .wrapper > .design-archives {
    grid-column: 2;
    grid-row: 2;
  }
  .page-wrapper > .sidebar > .wrapper > .zen-resources {
    grid-column: 2;
    grid-row: 3;
  }
}
@media only screen and (min-width: 146em) {
  .page-wrapper > .main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .page-wrapper > .main > .explanation {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
  .page-wrapper > .main > .participation {
    grid-column: 3/span 2;
    grid-row: 1/span 2;
  }
  .page-wrapper > .main > .benefits {
    grid-column: 5/span 2;
    grid-row: 1;
  }
  .page-wrapper > .main > .requirements {
    grid-column: 7/span 3;
    grid-row: 1/span 3;
  }
  .page-wrapper > .main > footer {
    grid-column: 1/span 9;
    grid-row: 4;
  }
  .page-wrapper > .sidebar > .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .page-wrapper > .sidebar > .wrapper > .design-selection {
    grid-column: 1;
    grid-row: 2/span 3;
  }
  .page-wrapper > .sidebar > .wrapper > .design-archives {
    grid-column: 2;
    grid-row: 2;
  }
  .page-wrapper > .sidebar > .wrapper > .zen-resources {
    grid-column: 2;
    grid-row: 3;
  }
}

/*# sourceMappingURL=style.css.map */
