@import url("https://use.typekit.net/len5cji.css");
@keyframes trans {
  from {
    background-color: #000000;
    color: #000000;
  }
  to {
    background-color: #666666;
    color: #ffffff;
  }
}
h1,
h3,
h4 {
  font-family: "magneto", sans-serif;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

h1 {
  font-weight: 900;
  /* Heavy */
  font-size: calc(100% + 5vmin);
}

h2 {
  color: #333;
  font-weight: normal;
  font-style: italic;
  font-size: calc(100% + 2vmin);
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
}

h3 {
  font-size: calc(100% + 2vmin);
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 1em;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #ff9341;
  border-color: #ff9341;
}

img {
  max-width: 100%;
}

div.preamble {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 100%;
  padding: 1em;
  margin: 1em;
}
div.preamble > h3 {
  grid-row: 4;
}
div.preamble > p {
  background-color: #000000;
  color: #000000;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.preamble p:first-of-type::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: -20px;
  box-shadow: 2px 2px 5px #666666;
}

div.explanation {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 100%;
  padding: 1em;
  margin: 1em;
}
div.explanation > h3 {
  grid-row: 3;
}
div.explanation > p {
  background-color: #000000;
  color: #000000;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.explanation p:first-of-type::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: -20px;
  box-shadow: 2px 2px 5px #666666;
}

div.participation {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 100%;
  padding: 1em;
  margin: 1em;
}
div.participation > h3 {
  grid-row: 4;
}
div.participation > p {
  background-color: #000000;
  color: #000000;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.participation p:first-of-type::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: -20px;
  box-shadow: 2px 2px 5px #666666;
}

div.benefits {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 100%;
  padding: 1em;
  margin: 1em;
}
div.benefits > h3 {
  grid-row: 4;
}
div.benefits > p {
  background-color: #000000;
  color: #000000;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.benefits p:first-of-type::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: -20px;
  box-shadow: 2px 2px 5px #666666;
}

div.requirements {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 2px 2px 10px #666666;
  max-width: 100%;
  padding: 1em;
  margin: 1em;
}
div.requirements > h3 {
  grid-row: 6;
}
div.requirements > p {
  background-color: #000000;
  color: #000000;
  animation-name: trans;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.requirements p:first-of-type::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: -20px;
  box-shadow: 2px 2px 5px #666666;
}

* {
  box-sizing: border-box;
}

html {
  background-image: url("assets/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  padding: 5%;
}

body {
  max-width: 1100px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 85%;
  color: #333;
  margin: 0 auto;
  padding: 1em;
}

.intro, footer {
  max-width: 100%;
  background-color: #ffffff;
  margin: 1em;
  padding: 1.5em 0 1em 0;
  box-shadow: 2px 2px 10px #666666;
}

.summary {
  text-align: center;
}

.wrapper {
  background-color: #ffffff;
  padding: 1em;
}

h1::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: -20px;
  box-shadow: 2px 2px 5px #666666;
}

footer::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: -20px;
  box-shadow: 2px 2px 5px #666666;
  flex-basis: 100%;
  margin: 0 calc(50% - 10px);
}

@media only screen and (min-width: 34.7em) {
  .page-wrapper, .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  }

  .intro {
    grid-column: 1/span 7;
    grid-row: 1/span 2;
  }

  .main {
    grid-column: 1/span 7;
    grid-row: 3;
  }

  .explanation {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
  }

  .participation {
    grid-column: 4/span 3;
    grid-row: 1/span 2;
  }

  .benefits {
    grid-column: 1/span 2;
    grid-row: 3;
  }

  .requirements {
    grid-column: 3/span 4;
    grid-row: 3/span 2;
  }

  footer {
    grid-column: 1/span 7;
    grid-row: 5;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 1;
  }

  .sidebar {
    padding: 1em;
    grid-column: 7;
    grid-row: 3/span 2;
  }
}

/*# sourceMappingURL=style.css.map */
