@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}

html {
  background-image:url("assets/background.jpg");
  background-size:cover;
  background-position: top;
  padding: 5%;
}

body {
  max-width: 2000px;
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  margin: 0 auto;
  padding: 1em;
}

.intro {
  max-width: 1800px;
  background-image: url(assets/lens.webp);
  background-position: center;
  margin: 1em auto;
  padding: 1.5em 0 1em 0;
  box-shadow: 2px 2px 10px $primary;
}

.summary {
  background-color: $primary;
  max-width: 600px;
  text-align: center;
  justify-self: center;
  align-self: end;
  width: 90%;
  border-style:inset;
  border-radius: 20px;
  margin: 1em auto;
  
  & p {
    background: none;
  }

  & p:first-of-type {
    font-size: clamp(1.2em, .5em + 1vw, 2em);
    font-style:italic;
    font-weight: bold;
  }
}

.wrapper {
  background: rgb(128,0,128);
  background: linear-gradient(30deg, rgba(128,0,128,1) 25%, rgba(0,0,255,1) 90%);
  border: 1px solid black;
  box-shadow: 2px 2px 10px $primary;
  padding: 1em;
  
  & h3 {
    color: $accent2;
  }
}

h1::before {
  @include atoms.thumbtack();
}

footer::before {
  @include atoms.thumbtack();
  flex-basis: 100%;
}

aside .wrapper::before {
  @include atoms.thumbtack();
  grid-column: 1 / span 2;
}

ul::before {
  @include atoms.thumbtack();
}