@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-image:url("assets/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  padding: 5%;
}

body {
  max-width: 1100px;
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  margin: 0 auto;
  padding: 1em;
}

.intro, footer {
  max-width: 100%;
  background-color: $accent2;
  margin: 1em;
  padding: 1.5em 0 1em 0;
  box-shadow: 2px 2px 10px $primary;
}

h1::before {
  @include atoms.thumbtack();
}

footer a:first-of-type::before {
  @include atoms.thumbtack();
}

@media only screen and (min-width: 34.7em) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .intro {
    grid-column: 1 / span 7;
  }
}