@media only screen and (min-width: 34.7em) {
    header picture img {
        width: 8em;
    }

    header section {
        font-size: .8em;
    }

    .ham {
        display: none;
    }

    nav ul {
        display: flex;
        
    }

    nav ul li {
        display: block;
        flex: 1 1 auto;
        text-align: center;
    }

    footer p {
        font-size: 1em;
    }

    .weathersummary {
        font-size: .8em;
        width: 14em;
    }

    .forecast {
        display: flex;
        justify-content:center;
    }

    .externalimage {
        width: 50%;
        float: left;
        margin:0 1em 1em 1em;
        clear: both;
    }
}
