@media only screen and (min-width: 50em) {
.featured, .cityevents, .displaygrid {
  grid-template-columns: 1fr 1fr 1fr;
}

.featured h2, .cityevents h2 {
  grid-column: 1 / span 3;
}

section.featured article:nth-child(4) {
  grid-column:3 / span 1;
  display: block;
}

.externalimage {
  max-width: 40%;
}

.demographics {
  grid-template-columns: 1fr 2fr;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
}

.grid h1, .contactgrid h1 {
  grid-column: 1 / span 2;
}

.contactgrid {
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  align-content: space-between;
}

form, .memberbenefits, .board {
  max-width: 95%;
  margin: 0;
}

.displaylist h2 {
  font-size: .99em;
}

.displaylist .busaddress {
  font-size: .8em;
}

.map {
  height: 600px;
}

.map iframe {
  max-width: 800px;
}
}