@media only screen and (min-width: 34.7em) {
.flex {
  display: flex;
  align-items: center;
}

nav {
  Width: 100%;
}

.ham {
  display: none;
}

nav ul {
  flex-wrap:wrap;
}

nav ul li {
  display: block;
  flex: 1 1 auto;
  align-self: center;
  margin: 0 1em;
}

.menu {
  background-color:transparent;
}

nav a {
  color: black;
  font-size: 1.2em;
}

nav a:hover {
  color: rgb(48, 128, 65);
  font-size:x-large;
}

.menu:hover {
  background-color:transparent;
}

li.active {
  background-color:transparent;
}

li.active a {
  color: rgb(48, 128, 65);
}

.herodiv {
  position: relative;
}

.calltoaction {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30%;
  background-color: rgba(48,180,76,.5);
  color: white;
  padding:.6em;
}

.actionheader {
  margin: 0;
}

p.actionparagraph {
  margin: 1em 0 0 0;
}

aside {
  float: right;
  clear: both;
  max-width: 50%;
  min-height: 470px;
}

.forecast {
  flex-direction: column;
  align-items: center;
}

.featured, .displaygrid, .demographics, .cityevents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.featured h2, .cityevents h2 {
  grid-column: 1 / span 2;
}

section.featured article:nth-child(4) {
  grid-column: 1 / span 2;
  display:grid;
  grid-template-columns: 40% 60%;
}

section.featured article:nth-child(4) h3, section.featured article:nth-child(4) h4, section.featured article:nth-child(4) p {
  grid-column: 1;
}

section.featured article:nth-child(4) img {
  grid-column: 2;
  grid-row: 1 / span 3;
  align-self: center;
}

.events {
  min-height: 36em;
}

.externalimage {
  max-width: 50%;
  margin: 0 1em;
  float: left;
  clear: both;
}

.population {
  max-width: 100%;
  grid-column: 1;
  grid-row: 2 / span 4;
}

form, .memberbenefits {
  max-width: 75%;
  margin: 0 auto;
}

input.custinput, textarea {
  max-width: 97%;
}

.buscard {
  display: flex;
  flex-direction: column;
}

.views {
  display: flex;
  height: 40px;
  flex-direction: row-reverse;
}

.views img {
  margin: 0 1em 0 0;
  ;
}

.displaylist {
  display: grid;
  grid-template-columns: 1.5fr 100px 1.6fr 100px;
  min-height: 28.8px;
  align-items: center;
}

.displaylist h2, .displaylist .busphone, .displaylist .busurl, .displaylist .logo, .displaylist .busdescription {
  margin: 0;
  font-size: .8em;
}

.displaylist .busaddress {
  margin: 0;
  font-size: .65em;
}

.displaylist h2 {
  grid-column: 1;
}

.displaylist .busphone {
  grid-column: 2;
}

.displaylist .busaddress {
  grid-column: 3;
}

.displaylist .busurl {
  grid-column: 4;
}

.displaylist .logo, .displaylist .busdescription {
  display: none;
}
}