body {
  font-size:16px;
  max-width: 68.75rem;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Shippori Mincho', serif;

}

header img {
  display: block;
  width: 9.375em;
  margin: auto;
}

header {
  margin: 0 auto;
}

main {
  padding: 0 .3em;
}
img {
  max-width: 100%;
  max-height: 100%;
}

h1, .cityevent h3, .centered {
  text-align: center;
}

.calltoaction {
  background-color: rgba(48,180,76,1);
  color: black;
  border-radius: .5em;
  padding: .5em;
}

.herodiv a {
  text-decoration: none;
}

.about, .events, .featured, .contact, footer, .history, .demographics, .cityevents, form, .memberbenefits, .thanks, .businesses, .board, .map {
  background-color: rgb(19,80,133);
  color: white;
  border-radius: .5em;
  padding: .5em;
  margin: .5em 0;
}

.featcomp, .cityevent, .buscard, .busurl {
  color: black;
}


.contact, footer {
  text-align: center;
  font-size: 1.1em;
}
.icon {
  width: 1em;
}

.socialicon {
  width: 1.5em;
}

.whitelinks {
  color: white;
}

/* Nav Section */
/*#region*/

.menuicon, .closeicon {
  max-width: 1.6em;
}

.menu {
  background-color:rgb(19,80,133);
}

nav ul {
  display: block;

  list-style-type:none;
  margin: 0;
  padding: 0; 
  white-space: nowrap; 
}

nav li {
  display: none;
  font-weight: 800;
  height: 2em;
  text-align: center;
}

nav a {
  display: block;
  padding: 0.4em 0;
  color: white;
  text-decoration: none;
  width: 100%;
}

nav a:hover, .eventlink {
  color: rgb(0,0,0);
}

.menu:hover {
  background-color:rgb(48, 180, 76);
}

li.active {
  background-color:rgb(48,180,76);
}

li.active a {
  color: black;
}

.ham, .responsive li {
  display: block;
}

.open, a .close {
  display:inline-block;
}

.closeicon, .hide, .views {
  display: none;
}

/*#endregion*/

/* Weather Info */
/*#region*/
aside, .featcomp, .forecastdiv, .cityevent, .buscard {
  border:.1em solid black;
  border-radius: 1em;
  box-shadow: .2em .2em .8em .2em black;
  background-color: rgb(48,180,76);
  padding:.5em;
  margin: 1em;
}
.weathersummary {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  white-space: nowrap;
}

.weathsumhead {
  grid-column: 1 / span 2;
  margin-bottom: 0.2em;
  border-bottom: .1em solid black;
  text-align: center;
  margin: .5em;
}

.weathsumleft {
  grid-column: 1;
  list-style: none;
  text-align: right;
  justify-self: end;
  padding-left: .25em;
  margin-top: 0;
  font-weight:900;
}

.weathsumright {
  grid-column: 2;
  list-style: none;
  text-align: left;
  justify-self: start;
  padding-left: .25em;
  margin-top: 0;
  font-weight: 900;
  color:rgba(255, 210, 63, .9);
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.forecastdiv {
  padding: 0;
  margin: 0.5em;
  width: 5em;
  border:black .1em solid;
}

.forecasthead {
  width: 100%;
  text-align: center;
}
/*#endregion*/

/* City Page */
/*#region*/
.history {
  min-height: 23em;
}

.demographics h2 {
  grid-column: 1 / span 2;
}

.demographics h3, .demographics h4 {
  margin: 0;
  
}

.demographics ul {
  margin-top: 0;
}

.demographics p, .demographics h3, .demographics h4, .demographics ul {
  grid-column: 2;
}

.population {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/*#endregion*/

/* JOIN PAGE */
/*#region*/

form fieldset, .memberbenefits fieldset, .board fieldset {
  margin: 2em 0;
}

fieldset legend {
  font-size: 1.2em;
  font-family: 'Shippori Mincho', Georgia, serif;
}

.custInfo, .busInfo, .radio, .contactInfo {
  display: flex;
  flex-direction: column;
}

label {
  padding: 1em 0 1em 0;
}

input.custinput, textarea {
  max-width: 92%;
}

.radiolabel {
  padding: 0.5em;
}

div.radio {
  padding: 1.2em 0 1em 0;
}

.custinput, #submitBtn {
  height: 50px;
}

select.custinput {
  height: 60px;
}

.custinput, #submitBtn, textarea {
  border: 5px solid gray;
  border-radius: .8em;
}

#submitBtn {
  background-color: rgb(48, 180, 76);
  color: black;
  width: 100%;
}

.custinput:required {
  border-left: 5px solid red;
}

.custinput:required:valid {
  border-left: 5px solid green;
}

.bold {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom:.5em;
}
/*#endregion*/


.logo {
  max-width: 200px;
  max-height: 150px;
  margin: auto;
}

.board fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board fieldset article {
  text-align: center;
}

.board img {
  width: 160px;
  border-radius: 100%;
}

.map {
  text-align: center;
  height: 250px;
}
.map iframe {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 600px;
}