body {
  font-size:16px;
  max-width: 68.75rem;
  margin: 0 auto;
}

header img {
  display: block;
  width: 9.375em;
  margin: auto;
}

header {
  margin: 0 auto;
}

main {
  padding: 0 .3em;
}
img {
  max-width: 100%;
}

/* Nav Section */
/*#region*/

.menuicon, .closeicon {
  max-width: 1.6em;
}

.menu {
  background-color:rgb(19,80,133);
}

nav ul {
  display: block;

  list-style-type:none;
  margin: 0;
  padding: 0; 
  white-space: nowrap; 
}

nav li {
  display: none;
  font-weight: 800;
  height: 2em;
  text-align: center;
}

nav a {
  display: block;
  padding: 0.4em 0;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  width: 100%;
  height: 60.08%; 
}

nav a:hover {
  color: rgb(0,0,0);
}

.menu:hover {
  background-color:rgb(48, 180, 76);
}

li.active {
  background-color:rgb(48,180,76);
}

li.active a {
  color: black;
}

.ham {
  display: block;
}

.open {
  display:inline-block;
}

.closeicon {
  display: none;
}

.close {
  display:inline-block;
}

.hide {
  display:none;
}

.responsive li {
  display: block;
}
/*#endregion*/

h1 {
  text-align: center;
}

.calltoaction {
  background-color: rgba(48,180,76,1);
  color: black;
  border-radius: .5em;
  padding: .5em;
}

.herodiv a {
  text-decoration: none;
}

.about, .events, .featured, .contact, footer {
  background-color: rgb(19,80,133);
  color: white;
  border-radius: .5em;
  padding: .5em;
  margin: .5em 0;
}

.featcomp {
  color: black;
}

.contact, footer {
  text-align: center;
  font-size: 1.1em;
}
.icon {
  width: 1em;
}

.socialicon {
  width: 1.5em;
}

.whitelinks {
  color: white;
}
/* Weather Info */
/*#region*/
aside, .featcomp, .forecastdiv {
  border:.1em solid black;
  border-radius: 1em;
  box-shadow: .2em .2em .8em .2em black;
  background-color: rgb(48,180,76);
  padding:.5em;
  margin: 1em;
}
.weathersummary {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  white-space: nowrap;
}

.weathsumhead {
  grid-column: 1 / span 2;
  margin-bottom: 0.2em;
  border-bottom: .1em solid black;
  text-align: center;
  margin: .5em;
}

.weathsumleft {
  grid-column: 1;
  list-style: none;
  text-align: right;
  justify-self: end;
  padding-left: .25em;
  margin-top: 0;
  font-weight:900;
}

.weathsumright {
  grid-column: 2;
  list-style: none;
  text-align: left;
  justify-self: start;
  padding-left: .25em;
  margin-top: 0;
  font-weight: 900;
  color:rgba(255, 210, 63, .9);
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.forecastdiv {
  padding: 0;
  margin: 0.5em;
  width: 5em;
  border:black .1em solid;
}

.forecasthead {
  width: 100%;
  text-align: center;
}
/*#endregion*/