body {
  font-size: 18px;
  background-color: rgba(132, 236, 111, 0.6);
  font-family:'Cardo', serif;
}

header,
main,
nav,
footer {
  max-width: 75rem;
  margin: 0 auto;
}

header {
  display: block;
  text-align: center;
  background-color: rgba(30, 17, 106, 1);
  color: white;
  margin-bottom: -1em;
}

header h1 {
    font-size: 3em;
  }

h1, h2, h3, h4 {
    font-family: 'Russo One', sans-serif;
    font-weight:500;
}

.home-section {
  margin: 2em;
}
main section h2,
h3 {
  margin: 0;
}
img {
  max-width: 100%;
  margin: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav li {
  padding: 0.5em;
  background-color: rgba(239, 26, 136, 1);
  text-align: center;
}
nav a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

footer {
  background-color: rgba(30, 17, 106, 1);
  padding: 0.3em;
  margin-top: 2em;
  color: white;
  text-align: center;
}
footer a {
  color: white;
}
#aPortalLastUpdated {
  padding-top: 0em;
  margin-top: -1em;
  font-size: small;
  color: rgba(132, 236, 111, 1);
}

/* Color-Scheme */

.color {
    border: solid .2em black;
    padding:.5em;
}

#color-1 {
    background-color:rgba(132, 236, 111, 0.6);
}

#color-2 {
    background-color:rgba(30, 17, 106, 1);
    color:white;
}

#color-3 {
    background-color:rgba(239, 26, 136, 1);
    color:white;
}

#color-4 {
    background-color:white;
}